<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cvorapp">

    <!-- Permissions -->
    <!-- Storage permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- Camera permission for capturing images -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Notifications permission for Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Internet access for file sharing or updates -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Backward compatibility for Android 12 and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- HomeActivity defined as the entry point -->
        <activity
            android:name=".ui.activities.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Additional activities
        <activity android:name=".ui.activities.LearnMoreActivity" />
        <activity android:name=".ui.activities.FileDetailsActivity" /> -->

        <!-- Backup configuration -->
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />

    </application>
</manifest>
